# ignore output folders
bin/
build/
obj/

# ignore downloaded tools
tools/

# ignore user-specific options/cache files
packages/
_ReSharper.*
Thumbs.db
*.csproj.user
*.DotSettings.user
*.nupkg
*.opensdf
*.[Rr]e[Ss]harper.user
*.sdf
*.sln.cache
*.suo
*.vcxproj.user
*.tmp
*.pidb
StyleCop.Cache
*.userprefs
AppPackages/
.DS_Store
*.ncrunchproject
*.ncrunchsolution
*.ncrunchsolution.user
*.crunchsolution.cache
*.crunchsolution.user
_NCrunch_*
